body {
  font-family: Montserrat;
  color: rgb(31, 31, 31);
  text-align: center;
  margin: 0;
  box-sizing: border-box;
}
h2 {
  color: rgb(231, 140, 65);
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 0;
}
.subtitle {
  margin-top: 5px;
}
#countries {
  padding: 15px;
  background-color: rgb(245, 245, 245);
}
button {
  padding: 10px 20px;
  margin: 0 5px;
  background-color: rgb(231, 140, 65);
  border: none;
  text-transform: uppercase;
}
.graph-buttons {
  margin: 20px;
}
.graphs {
  background-color: rgb(245, 245, 245);
  padding: 20px;
}
.graph-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
}

.graph-line {
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: center;
  /* justify-content: left; */
}
.graph-name-and-bar {
  display: flex;
  width: 100%;
  align-items: center;
}
.graph-name {
  width: 100px;
  text-align: left;
  font-size: 0.9em;
}
.graph-bar {
  height: 30px;
  max-width: 700px;
  background-color: rgb(231, 140, 65);
}
.graph-count {
  margin: 0 10px;
  font-size: 0.9em;
  width: 100px;
  text-align: left;
}
